.command-input__field .scroll-bar {
    -fx-opacity: 0;
    visibility: hidden;
}

/*******************************************
 *
 * INSTRUCTIONS HIGHLIGHTING
 *
 *******************************************/
.instruction {
    -fx-font-weight: bold;
}

.instruction--add {
    -fx-fill: #46aae2;
}

.instruction--delete {
    -fx-fill: #fa4646;
}

.instruction--display {
    -fx-fill: #e78012;
}

.instruction--edit {
    -fx-fill: #a93bcf;
}

.instruction--exit {
    -fx-fill: #66af94;
}

.instruction--mark {
    -fx-fill: #49bb00;
}

.param {
    -fx-font-family: "Lato";
    -fx-font-style: italic;
    -fx-fill: #979797;
}

