/* @@author Mai Anh Vu */
.command-input__field .scroll-bar {
    -fx-opacity: 0;
    visibility: hidden;
}

.command-input__field {
    -fx-background-color: transparent;
    -fx-text-fill: #5d3807;
}

/*******************************************
 *
 * INSTRUCTIONS HIGHLIGHTING
 *
 *******************************************/
.instruction {
    -fx-font-weight: bold;
}

.param {
    -fx-font-weight: bold;
}
