/* @@author Mai Anh Vu */
.command-input__field .scroll-bar {
    -fx-opacity: 0;
    visibility: hidden;
}

.command-input__field {
    -fx-background-color: transparent;
    -fx-highlight-fill: #F9D29E;
}
/*******************************************
 *
 * INSTRUCTIONS HIGHLIGHTING
 *
 *******************************************/
.command__instruction,
.command__normal-text,
.command__time,
.command__priority {
    -fx-text-fill: #5d3807;
}

.command__instruction {
    -fx-font-weight: bold;
}

.command__time {
    -fx-underline: true;
}

.command__priority {
    -fx-font-weight: bold;
}
