.toast__container {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.10), 8, 0.0, 0, 4);
}

.toast__label {
    -fx-font-family: "Lato";
    -fx-font-size: 14px;
    -fx-alignment: baseline-left;
    -fx-text-alignment: left;
}