/* @@author Mai Anh Vu */
.item__container {
    -fx-background-color: #f7f7f7;
}

.item__index {
    -fx-font-family: "Lato Light";
    -fx-font-weight: 300;
    -fx-font-size: 24px;
    -fx-text-fill: #828282;
}

.item__name {
    -fx-font-family: "Lato";
    -fx-font-weight: bold;
    -fx-text-fill: #525252;
    -fx-font-size: 14px;
}

.item__date {
    -fx-font-family: "Lato";
    -fx-font-size: 14px;
    -fx-text-fill: #787878;
}

.item__time {
    -fx-font-family: "Lato Light";
    -fx-font-weight: 300;
    -fx-text-fill: #2E2E2E;
    -fx-background-color: transparent;
}

.indicator--priority {
    visibility: hidden;
}

.indicator__text {
    -fx-font-family: "Lato";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.priority--high .indicator--priority {
    visibility: visible;
    -fx-fill: #FD6666;
}
.priority--medium .indicator--priority {
    visibility: visible;
    -fx-fill: #FDBA66;
}
.priority--low .indicator--priority {
    visibility: visible;
    -fx-fill: #73C3FF;
}

.list-cell.completed .item__name {
    -fx-font-weight: normal;
    -fx-text-fill: #ddd;
}

.list-cell.completed .item__time {
    -fx-text-fill: #B8E986;
}
