/* @@author Mai Anh Vu */
.window--main {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-background-color: white;
}

.sub-container {
    -fx-background-color: transparent;
}

.command-input__wrapper {
    -fx-background-color: #ffb656;
}

.section-label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Lato";
    -fx-font-weight: 900;
    -fx-font-size: 10px;
}

.panel__caption {
    -fx-text-fill: #c7c7c7;
    -fx-font-weight: 300;
    -fx-font-family: "Lato";
    -fx-font-size: 12px;
    -fx-alignment: center-right;
    -fx-min-width: 90px;
}

.command-input__field .scroll-bar {
    -fx-opacity: 0;
}

.container--main {
    -fx-background-color: #fff;
}

.info-panel__wrapper {
    -fx-background-color: #434343;
}
