.command-box__wrapper {
    -fx-background-color: transparent;
}

.command-box__container {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(220,220,220,0.5), 8, 0, 0, 4);
}

.command-box__status-bar {
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 0 0 4 4;
}

.command-box__input {
    -fx-background-color: #fff;
    -fx-background-radius: 4 4 0 0;
}

